[Unit]
Description=Dynamic ambassador
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p -h %p-%i \
    -e ETCD_HOST=172.17.42.1:4001 \
    -p 80:80 \
    ncarlier/dynamic-ambassador
ExecStop=/usr/bin/docker stop %p

[X-Fleet]
Conflicts=%p@*.service
