{{range $index, $domain := ls "/apps"}}
{{if eq $index 0}}
# HTTP apps
frontend http-in
    bind *:80
    # Register domains
{{end}}
    acl host_{{$domain}} hdr(host) -i {{$domain}}
    use_backend {{$domain}} if host_{{$domain}}
{{end}}

{{range $index, $domain := ls "/apps"}}
{{if eq $index 0}}
# Register HTTP backends
{{end}}
backend {{$domain}}
    balance leastconn
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    option httpchk HEAD / HTTP/1.1\r\nHost:{{$domain}}
    {{range $upstream := ls (printf "/apps/%s" $domain)}}
    server {{$upstream}} {{printf "/apps/%s/%s" $domain $upstream | getv}} check
    {{end}}
{{end}}

{{range $index, $name := ls "/services"}}
{{if eq $index 0}}
# TCP services
{{end}}
{{range $port := ls (printf "/services/%s" $name)}}
listen {{$name}}_{{$port}}
  mode tcp
  bind *:{{$port}}
  {{range $upstream := ls (printf "/services/%s/%s" $name $port)}}
  server {{$upstream}} {{printf "/services/%s/%s/%s" $name $port $upstream | getv}} check
  {{end}}
{{end}}
{{end}}
