# HTTP applications
frontend http-in
    bind *:80
    # Register domains
{{range $domain := ls "/applications"}}
    acl host_{{$domain}} hdr(host) -i {{$domain}}
    use_backend {{$domain}} if host_{{$domain}}
{{end}}

# Register HTTP backends
{{range $domain := ls "/applications"}}
backend {{$domain}}
    balance leastconn
    {{range $upstream := ls (printf "/applications/%s" $domain)}}
    server {{$upstream}} {{printf "/applications/%s/%s" $domain $upstream | getv}} check
    {{end}}
{{end}}

# TCP services
{{range $name := ls "/services"}}
{{range $port := ls (printf "/services/%s" $name)}}
listen {{$name}}_{{$port}}
  mode tcp
  bind {{$port}}
  {{range $upstream := ls (printf "/services/%s/%s" $name $port)}}
  server {{$upstream}} {{printf "/services/%s/%s/%s" $name $port $upstream | getv}} check
  {{end}}
{{end}}
{{end}}
